.navbar {
    background-color: #000000;
}

h1 {
    color: #569fff;
    margin-left: 75px;
}

.container-1 {
    background-color: #000000;
}

h3 {
    color: #ffffff;
    margin-top: 300px;
    margin-left: 75px;
}

h4 {
    color: #ffffff;
    margin-bottom: 100px;
    margin-left: 75px;
}

h5 {
    color: #000000;
    margin-bottom: 75px;
}

.container-3 {
    background-color: #000000;
}

p {
    color: #ffffff;
    margin-top: 15px;
}

.block-3 {
    margin-top: 150px;
    font-size: 75px;
}

.block-2 {
    margin-top: 100px;
    font-size: 25px;
    margin-bottom: 25px;
}

.container-4 img {
    margin-top: 175px;
    margin-bottom: 75px;
}

.block-4 p {
    color: #000000;
    margin-top: 75px;
    font-size: 25px;
    margin-bottom: 25px;
}

.container-5 {
    background-color: #000000;
}

.container-5 h1 {
    margin-top: 75px;
}

.container-6 {
    background-color: #000000;
}

.container-6 h1 {
    color: #ffffff;
}

.container-6 img {
    margin-top: 75px;
    margin-bottom: 100px;
}

ul {
    display: flex;
    justify-content: center;
    margin-left: 750px;
}

li {
  margin: 0 .75rem;
  
}

.container-7 {
    background-color: #000000;
}

.container-8 {
    background-color: #f8f9fa;
    color: #000000;
}
.page-footer {
    background-color: #212529;
}
